<%= form_tag import_path, multipart: true do %>
    <p>
      <%= radio_button_tag 'type_of_file', 'linkedin_db', true %>
      <%= label_tag 'Linkedin DB' %>
    </p>
    <p>
      <%= radio_button_tag 'type_of_file', 'database_export' %>
      <%= label_tag 'Database export file' %>
    </p>
    <p>
      <%= label_tag :file %>
      <%= file_field_tag :file %></p>
    <p>
      <%= label_tag :owner %>
      <%= select_tag :owner, options_from_collection_for_select(@owners, 'dir', 'dir'), include_blank: true %></p>
    <p>
      <%= label_tag :passed_to %>
      <%= text_field_tag :passed_to %></p>
    <p><%= submit_tag 'Import' %></p>
<% end %>